<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fr.epsi.demo">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="fr.epsi.TPAndroid.TPAndroid"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="fr.epsi.TPAndroid.ProduitDetailActivity"/>
        <activity android:name="fr.epsi.TPAndroid.ProduitsActivity"></activity>
        <activity android:name="fr.epsi.TPAndroid.RayonActivity"></activity>
        <activity android:name="fr.epsi.TPAndroid.StudentActivity"></activity>
        <activity android:name="fr.epsi.TPAndroid.EtudiantsActivity"/>
        <activity android:name="fr.epsi.TPAndroid.HomeActivity"/>
        <activity android:name="fr.epsi.TPAndroid.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>